<header>
    <img src="/assets/header.png" alt="logo" aria-hidden="true">
</header>

<section>
    <h1>About</h1>
    <p>Worker Bee Consulting LLC is a dynamic and versatile professional with a comprehensive background in Artificial Intelligence, DevOps, Cloud Computing, Intelligence Analysis, Application Modernization, and more. With extensive experience spanning AWS, Google Cloud, Electrical Engineering, 3D printing, business development, customer success management, project management, and Scrum methodologies, Worker Bee Consulting LLC delivers innovative solutions that drive efficiency, productivity, and technological advancement.</p>
</section>

<section>
    <h1>Core Competencies</h1>

    <ul>
        @for (capability of capabilities; track capability) {
            <li>
                <h3>{{ capability.title }}</h3>
                <p>{{ capability.description }}</p>
            </li>
        }
    </ul>
</section>

<section class="social">
    <a href="https://www.linkedin.com/company/worker-bee-consulting-llc/"><img src="/assets/LI-Logo.png" alt="LinkedIn" aria-hidden="true"></a>
</section>